﻿<!DOCTYPE html>
<html lang="en" ng-app="inviteKWebApp">


<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>K,</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/reset.css" media="all">
    <link rel="stylesheet" href="css/ut-fontface.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" media="all">
    <link rel="stylesheet" href="css/flexslider.css" media="all">
    <link rel="stylesheet" href="css/magnific-popup.css" media="all">
    <link rel="stylesheet" href="css/ut-responsive-grid.css" media="all">
    <link rel="stylesheet" href="css/color.css" media="all">
    <link rel="stylesheet" href="css/style2.css" media="all">

    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="ie8-and-down.css"/>
    <style>.hero .hero-holder {
        margin-left: -410px;
    }
    </style>
    <![endif]-->

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/ie.css"/>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <!--<link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- Load jQuery
      ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/device.min.js"></script>

</head>

<body id="mainsite">

<a id="top"></a>

<!--TODO remove this-->
<div ng-view></div>
<!-- Page Layout
================================================== -->

<!-- header section -->
<header id="header-section" class="ha-header ha-header-hide">
    <div class="grid-container">

        <div class="ha-header-perspective">
            <div class="ha-header-front">
                <div class="grid-20 tablet-grid-20 hide-on-mobile">
                    <a href="#top"><img src="images/k-logoname.png" alt="K,"></a>
                </div>
                <nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
                    <a href="#about-section">About</a>
                    <a href="#contact-section">Join our beta</a>
                </nav>
            </div>
        </div><!-- close .ha-header-perspective -->
    </div><!-- close grid container -->
</header><!-- close header -->

<div class="clear"></div>

<!-- hero section -->

<section class="slider hero ha-waypoint parallax-section parallax-background" data-animate-up="ha-header-hide"
         data-animate-down="ha-header-hide">
    <div class="parallax-overlay parallax-overlay-1"></div>
    <div class="grid-container">


        <!-- hero holder -->
        <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">

            <div class="hero-inner">

                <!--<h3><p style="margin-left: 25px;margin-top:-75px;color:#FFFFFF;position:fixed">DECLINE</p></h3>;-->
                <a href="/#" ng-click="acceptInvite()">
                    <h3 class="section-title accept">ACCEPT</h3>
                </a>
                <a href="/#" ng-click="declineInvite()">
                    <h3 class="section-title decline"> DECLINE
                    </h3>
                </a>
                <center><img src="images/klogo3.png" alt="main"></center>
                <br>
                <h2 class="parallax-title"><span>{{activityTitleName}},</span></h2>

                <span class="hero-description">  </span>
                <div class="hero-title-holder">
                </div>

            </div>
        </div><!-- close hero-holder -->
    </div>

    <!-- slider -->
    <div class="main-slider">
        <ul class="slides">
            <li style="background:url(images/mainimage.jpg);"></li>
            <li style="background:url(images/mainimage5.jpg);"></li>
            <li style="background:url(images/mainimage8.jpg);"></li>
            <li style="background:url(images/mainimage9.jpg);"></li>

        </ul>
    </div>
    <!--close slider-->

</section><!-- close hero section -->


<div id="main-content" ng-repeat="activityData in activityDataList track by $index" class="wrap">
    <br>
    <!--<center><h2 class="section-title"><span>then</span></h2></center>-->
    <!-- Counter Section -->
    <section ng-model="posterImageUrls" id="counter-section"
             class="counter-section parallax-section parallax-background" style={{activityData.imageUrl}}>
        <div class="parallax-overlay parallax-overlay-6"></div>
        <div class="grid-container parallax-content">
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">

                <!-- parallax header -->
                <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title"><span>{{activityData.name}},</span></h2>
                        <center><p><img src="images/kplus.png" alt="main"></p></center>
                        <!--<p class="parallax-slogan">This place is crazy fun!</p>-->
                    </header>
                </div>
                <!-- close parallax header -->


            </div><!-- close grid-100 -->
        </div><!-- close grid container -->
    </section><!-- close parallax banner 3-->

    <br>
    <center><h2 class="section-title" ng-show="{{activityData.showThen}}"><span>then</span></h2></center>
</div><!-- close nav-waypoint -->


<!--&lt;!&ndash; service section &ndash;&gt;-->
<!--<div class="nav-waypoint">-->
<!--<section id="service-section" class="parallax-section parallax-banner-3 parallax-background service-section">-->
<!--<div class="parallax-overlay parallax-overlay-3"></div>-->
<!--<div class="grid-container parallax-content">-->
<!--<div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">-->

<!--&lt;!&ndash; entry header &ndash;&gt;-->
<!--<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">-->
<!--<header class="parallax-header">-->

<!--<h2 class="parallax-title"><span>Four Seasons Hotel,</span></h2>-->
<!--<center><p><img src="images/kplus.png" alt="main"></p></center>-->
<!--<p class="parallax-slogan">Can't wait to chill in the sun with you</p>-->
<!--</header>-->
<!--</div>-->
<!--&lt;!&ndash; close entry header &ndash;&gt;-->


<!--</div>&lt;!&ndash; close grid-100 &ndash;&gt;-->
<!--</div>&lt;!&ndash; close grid container &ndash;&gt;-->
<!--</section>&lt;!&ndash; close service section &ndash;&gt;-->

<!--</div>&lt;!&ndash; close nav-waypoint &ndash;&gt;-->

<!--<br>-->
<!--<center><h2 class="section-title"><span>then</span></h2></center>-->


<!--&lt;!&ndash; social section &ndash;&gt;-->
<!--<section id="social-section" class="parallax-section parallax-banner-4 parallax-background social-section">-->
<!--<div class="parallax-overlay parallax-overlay-4"></div>&lt;!&ndash; parallax overlay &ndash;&gt;-->
<!--<div class="grid-container parallax-content">-->
<!--<div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">-->

<!--&lt;!&ndash; parallax header &ndash;&gt;-->
<!--<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">-->
<!--<header class="parallax-header">-->
<!--<h2 class="parallax-title"><span>barolo ristorante</span></h2>-->
<!--<center><p><img src="images/kplus.png" alt="main"></p></center>-->
<!--<p class="parallax-slogan">Yum! Look forward to trying this place out.</p>-->

<!--</header>-->
<!--</div>-->
<!--&lt;!&ndash; close parallax header &ndash;&gt;-->


<!--</div>&lt;!&ndash; close grid-100 &ndash;&gt;-->
<!--</div>&lt;!&ndash; close grid container &ndash;&gt;-->
<!--</section>&lt;!&ndash; close social section &ndash;&gt;-->
</div><!-- close nav-waypoint -->
<br>

<!--<center><p>-->
<!--<img class="img-circle" src="{{profilePic}}" alt="profilepics">-->
<!--<img src="images/inviteplus.png" alt="profilepics">-->
<!--<img src="images/inviteher.png" alt="profilepics">-->
<!--&lt;!&ndash;<img src="images/inviteher.png" alt="profilepics">&ndash;&gt;-->
<!--</p></center>-->

<br>

<ul class="contacts">
    <li>
        <div class="circle center-initials">
            <img class="profilePhoto" src="{{profilePic}}">
        </div>
        <p class="contactName">{{inviteSender}}</p>
    </li>
    <li style="text-align: center">
        <div class="center-initials" style="text-align: center">
            <center><img src="images/inviteplus.png"></center>
        </div>
        <p class="contactName">.</p>
    </li>
    <li ng-repeat="participant in participants track by $index">
        <div class="circle center-initials">{{getInitials(participant)}}</div>
        <p class="contactName center-artifact ">{{participant.firstName}}</p>
    </li>
</ul>


<center><h2 class="section-title"><span>invited</span></h2></center>


<center><img src="images/inviteplus.png" alt="plusicon"></center>
<br>
<center><h2 class="section-title"><span>message</span></h2></center>

<center><span>{{lastMessage}}</span></center>

<br>

<ul class="date-time">
    <li>
        <h2>{{eventTime}}</h2>
    </li>
    <li>
        <div>
            <center><img style="margin:20px" src="/images/inviteplus.png"></center>
        </div>
    </li>
    <li>
        <h2>{{eventDay}}</h2>
    </li>
</ul>
<!--<img src="images/inviteher.png" alt="profilepics">-->
</div></center>

<!-- contact section -->
<div class="nav-waypoint">
    <section id="contact-section" class="contact-section parallax-section parallax-banner-5 parallax-background">
        <div class="ng-map"
             map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyA0wJcbz_CpfZYGLrRfIqoNk9BrkCinL3Q&libraries=places">
            <ng-map center="{{latitude}}, {{longitude}}" zoom="14">
                <marker position="{{latitude}}, {{longitude}}" animation="Animation.BOUNCE" animation="DROP"
                        draggable="true"></marker>
            </ng-map>
        </div>
        <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
        <div class="grid-container parallax-content">


            <!-- parallax header -->
            <!--<div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">-->
            <!--<header class="parallax-header">-->
            <!--<h2 class="parallax-title"><span></span></h2>-->
            <!--<p class="parallax-slogan"></p>-->


            <!--</header>-->
            <!--</div>-->
            <!-- close parallax header -->

            <div class="clear"></div>

            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
                <div class="contact-wrap">


                </div>
            </div><!-- close contact wrap -->


        </div><!-- close container -->
    </section><!-- close contact section -->


</div>
</center>
<!-- close nav-waypoint -->

<div class="clear"></div>

<!-- Footer Section -->
<footer class="footer">
    <a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    <div class="grid-container">
        <div class="grid-100 mobile-grid-100 tablet-grid-100">

            <span class="copyright">© 2016 K, | All Rights Reserved | Seattle, WA | USA</a></span>
        </div>
    </div><!-- close container -->
</footer><!-- close footer -->
</div>

<!-- Load Javascript
  ================================================== -->
<script src="js/jquery.mb.YTPlayer.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.parallax.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.custom.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<!-- Angular -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js"></script>
.
<script src="app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>


<script type="text/javascript">
    // Set the configuration for your app
    var config = {
        apiKey: 'AIzaSyBcUl0KHWTNeSkSfM4tzEoSaNrY0bscDtw',
        authDomain: 'invitepage-ca5f8.firebaseapp.com',
        databaseURL: 'https://invitepage-ca5f8.firebaseio.com',
        storageBucket: 'invitepage-ca5f8.appspot.com'
    };

    firebase.initializeApp(config);

    console.log(firebase.storage());
    initFirebaseStorage.set(firebase);
</script>


<script type="text/javascript">
    /* <![CDATA[ */

    (function ($) {

        "use strict";

        $(document).ready(function () {
            $(window).load(function () {
                $('.main-slider').flexslider({
                    animation: "fade",
                    directionNav: false,
                    slideshowSpeed: 3000,
                    animationSpeed: 600,
                    initDelay: 0,
                    useCSS: true,
                    touch: true,
                    video: true,
                    start: function (slider) { //to handle first slide when slider first loads
                        var currSlide = slider.slides.eq(slider.currentSlide);
                        currSlide.find('.flex-caption').addClass("animate-in");

                    },
                    before: function (slider) { // handles rest of slides
                        var nextSlide = slider.slides.eq(slider.animatingTo);
                        var currSlide = slider.slides.eq(slider.currentSlide);
                        currSlide.find('.flex-caption').addClass("animate-out").removeClass("animate-in");
                        nextSlide.find('.flex-caption').addClass("animate-in").removeClass("animate-out");

                    }
                });
            });
        });

    })(jQuery);

    /* ]]> */
</script>

<!-- End Document
================================================== -->
</body>
</html>